@font-face {
  font-family: TTLakes-Bold;
  src: url(../fonts/TTLakes-Bold.ttf);
}

@font-face {
  font-family: TTLakes-Medium;
  src: url(../fonts/TTLakesCompressed-Medium.ttf);
}

@font-face {
  font-family: TTLakes-Light;
  src: url(../fonts/TTLakesCondensed-Light.ttf);
}
