.header{
  display: flex;
  position: relative;
  justify-content: space-between;    
  align-items: center;
  margin-bottom: 40px;
  background-color: #fff;
  padding: 16px 24px 0 24px;
  height: 88px;
  .header__menu{
    margin-right: 20px;
    position: relative;    
  }  
  .header__logo{
    flex-grow: 1;
    margin-left: 16px;
  }  
}

.header::before{
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #D9FFF5;
  top: 88px;
  left: 0px;
}

.header-mobileMenu::before{
  content: none;
}

@media (min-width: 1440px){
  .header,
  .header::after{
    display: none;
  } 
}