@import "../../node_modules/swiper/swiper-bundle.css";

.slider-brands{
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider-brands::before{
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: #D9FFF5;
  bottom: 0px;
  left: 0px;
}


.swiper-title{
  font-family: "TTLakes-Light", Arial, serif; 
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  line-height: 55px;
  margin-bottom: 20px;  
  position: relative;  
}

.slider-brands__swiper-title{
  
}

.slider-brands__swiper .slider-brands__item {
  display: block;
  box-sizing: border-box; 
  width: 223px;
  height: 72px; 
  border: 1px solid #EAEAEA;
  border-radius: 6px;  
  margin-bottom: 16px;
  margin-right: 24px;
  background-color: #ffffff;
} 

.slider-brands__item a{  
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;  
}

.slider-brands__item a::after{
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FF3E79;
  position: absolute;
  right: 16px;
  top: 16px;
}

.slider-brands__item a::before{
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid #FF3E79;
  border-right: 2px solid #FF3E79;
  position: absolute;
  right: 32px;
  top: 32px;
  transform: rotate(45deg);
}

.slider-brands__item img{  
  padding-left: 10px;
  display: block;
  margin: auto 0;
}

.description__link-slider-brands{
  margin-top: 24px;
}

.slider-brands__wrapper-view-all-button::before{
  content: "";
  height: 11px;
  width: 8px; 
  left: 0;   
  top: 6px;
  position: absolute;
  
  transform: rotate(180deg);
}

@media (min-width: 320px){  
  .swiper {
    width: 313px;
    height: 100px;    
  }

  .slider-brands__swiper{
    position: relative;
  }

  .slider-brands__swiper::after{
    content: "";
    position: absolute;
    left: 290px;
    bottom: 25px;
    width: 24px;
    height: 81px;    
    z-index: 10;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }   

  .description__link-slider-brands{
    display: none;
  } 
}

@media (min-width: 768px){    

  .slider-brands__swiper{
    width: 720px;
    height: 160px;
    transition: height 0.3s;  
  } 

  .slider-brands__wrapper{
    flex-wrap: wrap;
  }

  .slider-brands__wrapper{
    justify-content: flex-start;
  }

  .slider-brands__swiper .slider-brands__item:nth-child(3n) {
    margin-right: 0;
  }

  .slider-brands__swiper::after{
    content: none;
  }

  .description__link-slider-brands{
    display: inline-block;
    width: 110px;
  } 

  .slider-brands__wrapper-view-all{
    height: 540px;
  }  

  .slider-brands__wrapper-view-repair{
    height: 340px;
  }
}

@media (min-width: 1440px){ 
  .slider-brands__swiper{
    width: 1033px;
  }

  .slider-brands .slider-brands__swiper .slider-brands__item{
    margin-right: 24px;
  }

  .slider-brands__swiper .slider-brands__item:nth-child(4n){
    margin-right: 0px;
  } 

  .slider-brands__wrapper-view-repair{
    height: auto;
  }
}
  